.footer {
  width: 100%;
  height: 200px;
  background: #21325e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 200px;
}

.socialMedia svg {
  color: white;
  margin: 20px;
  font-size: 70px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 0.5s;
}

.socialMedia svg:hover {
  color: #e9d35b;
  transform: translateY(-10px);
}

.agradecimentos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #21325e;
}

.footer p {
  color: white;
  margin: 1rem;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }
}

.agradecimentos--Youtube {
  color: white;
  font-weight: bold;
  margin-left: 5px;
}