@keyframes avatarSurgir {
  0% {transform: scale(0);}
  50% {transform: scale(1.5);}
  100%{transform: scale(1);}
}

@keyframes avatarMovimento {
  0% {transform: translateY(0px);}
  50% {transform: translateY(50px);}
  100% {transform: translateY(0px);}
}

@keyframes backgroundMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100%{background-position: 0% 50%;}
}

@keyframes tremer {
  0% {transform: rotate(5deg);}
  50% {transform: rotate(-5deg);}
  100% {transform: rotate(5deg);}
}

.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: var(--azul-escuro1);
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: var(--branco);
  background: var(--gradient-background1);
  background-size: 400%;
  animation: backgroundMove 15s ease infinite;
}

.avatarConteiner {
  height: 30%;
}

.avatarConteiner img {
  height: 100%;
}

.about h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: var(--laranja);
  height: 50px;
}

.about .prompt {
  width: 40%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.icones svg {
  font-size: 3rem;
  margin: 5px;
  color: var(--branco);
  transition-property: transform;
  transition-duration: 0.5s;
}

.icones svg:hover {
  color: var(--laranja);
  transform: scale(1.1);
}

.skills {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

.skills svg {
  color: var(--laranja);
  font-size: 2rem;
  transform: translateY(10px);
  animation: tremer .5s infinite;
}

.skill svg:hover {

  background-color: red;
}

.dualSkills {
  width: 48%;
  margin-right: 1rem;
}

.list {
  list-style-type: none;
}

#soft h1 {
  text-align: right;
}

.list#soft {
  text-align: right;
  margin-right: -15px;
}

.item {
  margin: 1rem;
}

.item span {
  margin-right: 1rem;
}

.item img {
  max-height: 50px;
  max-width: 50px;
  height: auto;
  width: auto;
  margin-right: 1rem;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }

  .dualSkills {
    width: 100%;
    margin-right: 0;
  }

  #soft h1,
  .item {
    text-align: center;
  }

  .dualSkills#soft li {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .skills svg {
    transform: translateY(-10px);
  }

  #soft {
    margin-bottom: 5%;
  }

  .item img,
  .item span {
    margin-left: 10px;;
  }
}
