@keyframes backgroundMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100%{background-position: 0% 50%;}
}

.navbar {
    width: 100%;
    height: 100px;
    background: var(--gradient-background1);
    background-size: 400%;
    animation: backgroundMove 15s ease infinite;
  }
  
  .links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 30px;
    font-size: 25px;
    transition-property: transform;
    transition-duration: 0.5s;
  }

  .navbar a:hover {
    color: var(--laranja);
    transform: scale(1.1);
  }
  
  .toggleButton {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .toggleButton svg {
    font-size: 50px;
  }
  .toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  #open {
    height: 100vh;
  }
  
  #open .links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
  }
  
  #open a {
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: 900px) {
    .navbar a {
      width: 80px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .toggleButton {
      display: flex;
    }
    #close a {
      display: none;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .toggleButton {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  
    #open {
      height: 100px;
    }
  
    #open .links {
      flex-direction: row;
    }
  }
  