@keyframes pulsar {
  0% {transform: scale(1.09)}
  25% {transform: scale(1)}
  50% {transform: scale(1.05)}
  100% {transform: scale(1)}
}

.project {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 100px;
  color: var(--azul-escuro1);
  font-size: 2rem;
  text-align: center;
}
.project img {
  width: 90%;
  height: 90%;
  max-width: auto;
  max-height: auto;
  border-radius: 10px;
}

.descricao {
  text-align: justify;
  padding: 0 10% 0 10%;
}

.resumo {
  text-indent: 10ch;
}

.project p {
  font-size: 1.5rem;
  color: #3e497a;
}

.project svg {
  font-size: 3rem;
  color: var(--azul-escuro1);
  transition: transform 1s;
  /* animation: pulsar .5s infinite; */
  animation-name: pulsar;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.project svg:hover {
  transform: scale(1.2);
  color: var(--laranja);
  border-radius: 50px;
  animation: none;
}

@media (max-width: 690px) {
  .descricao p {
    font-size: 1.5rem;
  }
}